@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.host-links {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  font-size: 20px;
}

.host-links a {
  text-decoration: none;
}

.host-links a:hover {
  text-decoration: underline;
  font-weight: 500;
}

a.host-links-active {
  outline: none; /* Remove the default focus outline, if desired */
  text-decoration: underline;
  color: #ff8c38;
}
