@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
.vans {
  padding: 60px;
  font-family: Inter;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
}



.van-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}

.vans-title {
  flex: 1;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0;
}

.vans-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  column-gap: 30px;
  row-gap: 30px;
}

.vans-containers a {
  color: #161616;
  text-decoration: none;
}

.van-image {
  object-fit: contain;
  width: 100%;
  border-radius: 7px;
}

.van-image-detailed {
  flex: 1;
}

@media screen and (min-width: 671px) {
  .van-image-detailed {
    width: 567px; /* Adjust the width for screens wider than 600px */
  }
}

@media screen and (min-width: 900px) {
  .van-image-detailed {
    width: 567px; /* Adjust the width for screens wider than 900px */
  }
  .van-container {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
  }
}

.van-container-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 0px; /* Gap along the main axis */
  column-gap: 60px;
}

.van-detailed-container-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}


.rent-btn{
    padding: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #FF8C38;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    cursor: pointer;
}




.van-name,
.van-price,
.van-detailed-name,
.van-detailed-price {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 31.662px;
  display: block;
}

.van-name,
.van-price {
  display: inline;
}

.van-detailed-name,
.van-detailed-price {
  font-weight: 800;
  font-size: 26px;
}

.van-detailed-price>span{
    font-weight: 400;

}

.van-price-period {
  font-size: 12px;
  margin: 0;
}

.van-detailed-type,
.van-type {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  padding: 8px 26px;
  border-radius: 5px;
  color: #ffead0;
  background: #e17654;
}

.van-detailed-type.luxury,
.van-type.luxury {
  background: rgb(0, 0, 0);
}

.van-detailed-type.rugged,
.van-type.rugged {
  background: #115e59;
}

.van-detailed-type {
  width: 50px;
  padding-right: 30px;
}

.van-description {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
}

.filter {
  margin-bottom: 40px;
}

.filter-type {
  margin-right: 25px;
  padding: 10px 28px;
  background-color: #FFEAD0;
  border-radius: 5px;
  font-weight: 500;
}

a.filter-type{
  color: #4D4D4D;
  text-decoration: none;
}

a.clear-filter{
  margin-left: 25px;
  font-weight: 500;
  font-size: 17px;
  color: #4D4D4D;
  transition: 1000ms all cubic-bezier(0.4, 0, 0.2, 1);}


a.filter-type:hover {
  color: #FFEAD0;
  text-decoration: underline;
}
a.luxury:hover {
  background: rgb(0, 0, 0);
}

a.simple:hover {
  background: #e17654;
}

a.rugged:hover {
  background: #115e59;
}

@media (min-width: 900px) {
  .vans-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 630px) {
  .vans{padding: 30px;}
}